@charset "utf-8";

/* Noto Serif KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap');
/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html {
    font-size: 16px;
    text-align: justify;
}

body {
    font-family: 'Noto Serif KR', serif;
    max-width: 100ch;
    margin-top: -20px;
    padding-bottom: 70px;

    counter-reset: theorem definition sidenote-counter example figure video;
}

article > * + * {
    margin-top: 0.5em;
}

p {
    margin-top: 0.5em;
}

.theorem {
    font-style: normal;
}

.theorem::before {
    content: '정리 ' counter(theorem) '. ';
}

.lemma {
    font-style: normal;
}

.lemma::before {
    content: '보조정리 ' counter(theorem) '. ';
}

.proof::before {
    content: '증명. ' attr(title);
    font-weight: bold;
    font-style: normal;
}

.definition::before {
    content: '정의 ' counter(definition) '. ';
    font-style: normal;
}

caption::before {
    content: "표 " counter(caption) ". ";
}

#abstract {
    text-align: center;
}

#code {
    text-align: left;
}

#Menu {
    width: 100%;
    background-color: hsl(210, 20%, 98%);
    /* border-top: 1px solid lightgray; */
    box-shadow: 0px 0px 8px lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

#BottomMenu {
    width: 97%;
    margin: 0 auto;
    max-width: 97ch;
}

#BottomMenuLeft {
    float: left;
}

#BottomMenuRight {
    float: right;
}

#BottomMenu a {
    float: left;
    display: block;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: larger;
    line-height: 24px;
}

#headerBar {
    width: 100%;
    background-color: hsl(210, 20%, 98%);
    /* border-top: 1px solid lightgray; */
    box-shadow: 0px 0px 8px lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

#headerBarDiv {
    width: 97%;
    margin: 0 auto;
    max-width: 97ch;
}

#headerBarDiv a {
    float: left;
    display: block;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: larger;
    line-height: 24px;
}

#headerBarDivLeft {
    float: left;
}

#headerBarDivRight {
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    word-break: keep-all;
    margin-top: 3rem;
}

caption {
    word-break: keep-all;
}

figcaption {
    word-break: keep-all;
    text-align: center;
    counter-increment: figure;
}

figcaption::before {
    content: "그림 " counter(figure) ". ";
    font-weight: bold;
    font-style: normal;
}

.video-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
    counter-increment: video;
}

iframe {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-caption {
    margin-top: 0.3em;
    font-size: smaller;
}

.video-caption::before {
    content: "영상 " counter(video) ". ";
    font-weight: bold;
    font-style: normal;
}

.scroll-wrapper {
    overflow-y: hidden;
    margin-top: 0;
}

img {
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.example-box {
    counter-increment: example;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: gray;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;

    padding-bottom: 0.5em;
}

.example {
    display: block;
    margin-top: 0.5em;
    font-style: normal;
}

.example::before {
    content: '예제 ' counter(example) '. ';
    font-weight: bold;
    font-style: normal;
}

dl dt {
    font-weight: bold;
}

dl dd {
    text-align: left;
    margin-left: 1.5em;
}

img[src$=".png"] {
    image-rendering: -webkit-optimize-contrast;
}

ul, ol {
    margin-top: 0.5em;
    margin-bottom: 0;
}

li > ul, li > ol {
    margin-top: 0;
}

li + p {
    margin-top: 0em;
}

table {
    /*margin-left: auto;*/
    margin-right: auto;
    min-width: 25%;
}

th {
    line-height: 1.4;
    /*text-align: center;*/
}

td {
    line-height: 1.4;
    /*text-align: center;*/
}

td.right {
    text-align: right;
}

mjx-container {
    margin-top: 1em ! important;
    margin-bottom: 0.5em ! important;
}

blockquote {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: gray;
    padding: 0.2em;
    padding-left: 1em;
}

blockquote cite {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: bold;
}

.code-file-name {
    display: list-item;
    margin-left: 2em;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.code-file-name::after {
    content: ":";
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: bold;
}

:not(pre) code {
    font-size: 90%;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.border-top {
    border-top: 1px solid black;
}

.border-left {
    border-left: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}

pre code {
    font-family: "Consolas", "Noto Sans", "Sans Mono", "Courier", monospace;
}
    
.hljs::selection,
.hljs span::selection {
    background: darkgrey !important;
}
.hljs-ln-line{
    font-family: "Consolas", "Noto Sans", "Sans Mono", "Courier", monospace;
    color: #c5c8c6;
}
    
.hljs-comment{
    color:#4EC9B0 !important;
}
    
    /* for block of numbers */
.hljs-ln-numbers:nth-child(n) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: top;
    text-align: right;
    
    padding-right: 10px;
}
    
.hljs-ln-code:nth-child(n) {
    padding-left: 10px;
}
.hljs-ln-code::selection{
    background: darkgrey;
}

.hljs {
    color: #c9d1d9;
    background: #0d1117;
  }
  
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
  }
  
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
  }
  
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
  }
  
  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
  }
  
  .hljs-built_in,
  .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
  }
  
  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
  }
  
  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
  }
  
  .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
  }
  
  .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
  }
  
  .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
  }
  
  .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
  }
  
  .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
  }
  
  .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
  }
  
  .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
  }
  